body {
	color: #434455;
	background-color: #ffffff;
	font-family: "Roboto", sans-serif;
}
.nav__logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #4d5ae5;
}
.nav__logo-span {
	color: #2e2f42;
}
.font__body-medium {
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #2e2f42;
}
.font__body-medium:hover {
	color: #404bbf;
}
.font__body-medium:focus {
	color: #404bbf;
}
.contact-info {
	font-style: normal;
}
.contact-info__link {
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #434455;
}
.contact-info__link:hover {
	color: #404bbf;
}
.contact-info__link:focus {
	color: #404bbf;
}
.hero-section {
	background-color: #2e2f42;
}
.font__header-one {
	font-size: 56px;
	line-height: 1.07;
	text-align: center;
	letter-spacing: 0.02em;
	color: #ffffff;
}
.font__link-text {
	color: #4d5ae5;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #ffffff;
	cursor: pointer;
}
.font__link-text:hover {
	background-color: #404bbf;
}
.font__link-text:focus {
	background-color: #404bbf;
}
